* {
    box-sizing: border-box;
}

body {
    background-color: #f6f9fc;
    margin: 0;
    padding: 50px 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;

    color: inherit;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border-radius: 0;
    border: none;
}

button:focus {
    outline: 1px solid;
}

.canvas {
    width: 700px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.controls {
    margin-top: 80px;
}
.controls .controls__btns {
    margin-bottom: 30px;
    text-align: center;
}
.controls .controls__btns button {
    all: unset;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 5px;
    padding: 5px 0;
    border: 2px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.7);
    width: 100px;
    background-color: #fff;
    transition: all 0.3s;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
}

.controls .controls__btns button:active {
    transform: scale(0.98);
}

.controls .controls__colors {
    display: flex;
    gap: 10px;
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.controls__colors .controls__color img {
    width: 50%;
    user-select: none;
}
.controls .controls__range {
    text-align: center;
    margin-bottom: 30px;
    
}